<div class="login-container">
  <div class="login-image">
    <img src="assets/images/phone.svg" alt="Phone" class="w-100 h-100" />
  </div>
  <div class="login-form">
    <div class="form-wrapper">
      <h1 class="text-center mb-4">Login</h1>
      <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
        <div class="form-group">
          <input
            formControlName="username"
            class="form-control"
            type="text"
            placeholder="Username or Email"
          />
          @if (loginForm.get('username')?.errors &&
          loginForm.get('username')?.touched) { @if
          (loginForm.get('username')?.errors?.['required']) {
          <p class="error-message">Username is required</p>
          } }
        </div>
        <div class="form-group">
          <input
            formControlName="password"
            class="form-control"
            type="password"
            placeholder="Password"
          />
          @if (loginForm.get('password')?.errors &&
          loginForm.get('password')?.touched) { @if
          (loginForm.get('password')?.errors?.['required']) {
          <p class="error-message">Password is required</p>
          } @if (loginForm.get('password')?.errors?.['minlength'] ||
          loginForm.get('password')?.errors?.['maxlength']) {
          <p class="error-message">
            Password must be between 6 and 20 characters
          </p>
          } }
        </div>
        <div class="form-actions">
          <button [disabled]="loginForm.invalid" class="btn btn-primary">
            Login
          </button>
          <a href="http://localhost:3000/auth/google" class="btn btn-google">
            Login with Google
          </a>
          <a
            routerLink="/account/forget-password"
            class="btn btn-forgot-password"
          >
            Forgot Password?
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
