<!-- best-sellers.component.html -->

<h1 class="best-sellers-heading">Best Sellers</h1>

@if (products.length > 0) {
<div class="container product-grid">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    @for (product of products; track product._id) {
    <div class="col">
      <div class="card product-card">
        <img [src]="product.cover" class="card-img-top" alt="product.name" />
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">
            {{ product.description | description : 7 }}...
          </p>
          <p class="card-text price">
            Price: {{ product.price | currency : "EUR" }}
          </p>
          <p class="card-text rating">
            {{ product.rateAvg | number : "1.1-1" }} ☆ ({{ product.rating }}
            reviews)
          </p>
          <div class="btn-container">
            <a
              [routerLink]="['/products', product._id]"
              class="btn btn-outline-primary"
            >
              See More
            </a>
            <button (click)="addToCart(product._id)" class="btn btn-success">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
} @else {
<h2 class="error-message">Try again later...</h2>
}
