/* forget-password.component.scss */

/* CSS Variables */
:root {
  --primary-color: #dc3545; // Bootstrap's danger color
  --primary-color-dark: #a52834; // Manually defined darker shade
  --text-color: #333;
  --error-color: #dc3545;
  --background-color: #fff;
  --border-color: #ddd;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --transition-speed: 0.3s;
  --disabled-color: #f9c2c2; // Manually defined lighter shade for disabled state
}

/* Common Styles */
.forget-password-container {
  width: 50%;
  margin: 2rem auto;
  padding: 1.5rem;
  border: 2px solid var(--border-color);
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  background-color: var(--background-color);

  .form-container {
    width: 100%;
    max-width: 500px; /* Limit the max width to keep it from being too wide */
    margin: 0 auto;
    padding: 1.25rem 1rem; /* Adjust padding for a consistent look */

    h1 {
      text-align: center;
      margin-bottom: 1.5rem;
      color: var(--primary-color);
    }

    form {
      .form-group {
        margin-bottom: 1.5rem;

        input {
          width: 100%;
          padding: 0.75rem;
          border: 1px solid var(--border-color);
          border-radius: 0.25rem;
          font-size: 1rem;
          transition: border-color var(--transition-speed);

          &:focus {
            border-color: var(--primary-color);
            outline: none;
          }
        }

        .error-message {
          color: var(--error-color);
          margin-top: 0.5rem;
          font-size: 0.875rem;
        }
      }

      button {
        width: 100%; /* Make button full width */
        margin: 1rem 0;
        padding: 0.75rem;
        background-color: var(--primary-color);
        color: #fff;
        border: none;
        border-radius: 0.25rem;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color var(--transition-speed);

        &:hover {
          background-color: var(--primary-color-dark); // Use the darker shade
        }

        &:disabled {
          background-color: var(
            --disabled-color
          ); // Use the manually defined lighter shade
          cursor: not-allowed;
        }
      }
    }
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .forget-password-container {
    width: 90%;
    padding: 1rem; /* Add padding for better appearance on small screens */

    .form-container {
      width: 100%;
      padding: 0; /* Remove padding to fit smaller screens */
    }
  }
}
